@page "/"

<h1>Ejercicio de imágenes!</h1>

<label for="txtImg">Url de la imágen:</label>
<input type="text" id="txtImg" name="txtImg" @onchange="OnChange" />
<br />
<Img UrlImagen="@UrlImagen" />



@code{
    public string UrlImagen { get; set; }

    //Img imagen;
    InputText txtImg;

    private void OnChange()
    {
        UrlImagen = txtImg.Value;
    }
}